{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block content %}
<section class="mb-20 px-4">
        <div class="container mx-auto max-w-screen-xl">
            <div class="container mx-auto max-w-screen-xl">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
{% for pr in projects %}
                      <div class="swiper-slide text-center group/proj cursor-pointer">
                        <div class="relative overflow-hidden bg-cover bg-no-repeat rounded-2xl">
                            <a href="/project/{{ pr.id }}">
                                <img class="relative" src="{{ pr.p_picture.url }}" alt="" srcset="">
                                <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-gradient-to-t from-slate-900 bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-70"></div>
                            </a>
                        </div>
                        <figcaption class="absolute bottom-2 w-full invisible group-hover/proj:visible transition ease-in duration-1000 group-hover/proj:transition-all group-hover/proj:-translate-y-4 group-hover/proj:duration-1000 group-hover/proj:text-white">
                            <h3 class="font-YekanBakh-Bold text-sm">{{ pr.name }}</h3>
                            <p class="">جهت مشاهده مطالب کلیک کنید</p>
                        </figcaption>
                      </div>

{% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}