{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block content %}
<section class="mb-20 px-4">
        <div class="container mx-auto max-w-screen-xl">
            <div class="bg-white rounded-2xl p-4">
                <div class="grid grid-cols-12 gap-4 lg:gap-8 mb-20">
                  <div class="col-span-12 md:col-span-5">
                    <div class="border-r-4 bg-slate-100 border-yellow-400 mb-4 rounded-2xl p-4">
                      <h1 class="mb-2 text-base font-YekanBakh-Bold">{{ project.name }}</h1>
                      <div class="flex items-center gap-4 text-xs">
                          <span class="flex items-center gap-1">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                  {{ project.timep }}
                          </span>
                          <span class="flex items-center gap-1">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"></path>
                                </svg>
                                {{ project.kinde }}
                          </span>
                      </div>
                  </div>
                    <div class="overflow-x-auto">
                      <table class="table table-zebra">

                        <tbody>
                          <!-- row 1 -->
                          <tr>
                            <th>وضعیت پروژه:</th>
                            <td>{{ project.statusp }}</td>
                          </tr>
                          <!-- row 2 -->
                          <tr>
                            <th>زیربنا:</th>
                            <td>{{ project.zirbana }}</td>
                          </tr>
                          <tr>
                            <th>مساحت:</th>
                            <td>{{ project.area }}</td>
                          </tr>
                          <!-- row 3 -->
                          <tr>
                            <th>تاریخ شروع:</th>
                            <td>15 مرداد 1402</td>
                          </tr>
                          <tr>
                            <th>مبلغ پروژه:</th>
                            <td>{{ project.price }}</td>
                          </tr>

                          <tr>
                            <th>محل پروژه:</th>
                            <td>{{ project.locationp }}</td>
                          </tr>
                          <tr>
                            <th>کارفرما:</th>
                            <td>{{ project.employer }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="mt-4 rounded-2xl p-4 bg-slate-100">
                      <h3 class="text-xl text-center font-YekanBakh-ExtraBold mb-2">مهندس پروژه:</h3>

                      <div class="flex justify-center items-center mb-2">
                        <div class="avatar">
                            <div class="w-24 rounded-full">
                              <img src="{{ project.engineer.avatar.url }}">
                            </div>
                          </div>
                          <div class="leading-8 mr-2">
                            <h3 class="font-YekanBakh-Bold text-slate-800 text-sm">{{ project.engineer.name }}</h3>
                            <p>{{ project.engineer.position }}</p>
                          </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-span-12 md:col-span-7">
                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper project-main swiper-initialized swiper-horizontal swiper-rtl swiper-backface-hidden">
                      <div class="swiper-wrapper" id="swiper-wrapper-84250a7ebd394d56" aria-live="polite">
                          {% for p in picture %}
                          <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="width: 506px; margin-left: 10px;">
                          <img class="rounded-xl cursor-pointer" src="{{ p.pimage.url }}">
                        </div>
                          {% endfor %}

                      </div>
                      <div class="swiper-button-next after:text-sm" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-84250a7ebd394d56" aria-disabled="false"></div>
                      <div class="swiper-button-prev after:text-sm swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-84250a7ebd394d56" aria-disabled="true"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <div thumbsslider="" class="swiper gall-project mt-4 swiper-initialized swiper-horizontal swiper-free-mode swiper-rtl swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                      <div class="swiper-wrapper" id="swiper-wrapper-c1da232630ea6e19" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">

                                                    {% for p in picture %}

                          <div class="swiper-slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" role="group" aria-label="1 / 5" style="width: 158.667px; margin-left: 15px;">
                          <img class="rounded-xl cursor-pointer" src="{{ p.pimage.url }}">
                        </div>

                        {% endfor %}



                      </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                  </div>

                </div>
                <section class="px-4">
                  <div class="text-center mb-10">
                      <h2 class="text-3xl font-YekanBakh-ExtraBlack">درباره پروژه</h2>
                  </div>
                  <p class="mb-4 leading-8 c">
{{ project.about_project }}
                </p>

              </section>
            </div>
        </div>
    </section>
{% endblock %}