{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block content %}
 <section class="h-screen px-4 flex items-center">
        <div class="container mx-auto max-w-screen-sm text-center leading-10">
            <img class="w-full mb-16" src="../assets/images/404error.svg" alt="">
            <p class="text-base mb-4">صفحه مورد نظر یافت نشد!!</p>
            <a class="bg-yellow-400 py-2 px-6 rounded-xl" href="/">برو به صفحه اصلی</a>
        </div>
    </section>
{% endblock %}